USE [master]
GO
/****** Object:  Database [PruebaTecnicaCC]    Script Date: 25/2/2021 12:14:00 ******/
CREATE DATABASE [PruebaTecnicaCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaTecnicaCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PruebaTecnicaCC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaTecnicaCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PruebaTecnicaCC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaTecnicaCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaTecnicaCC]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 25/2/2021 12:14:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[FechaNacimiento] [datetime] NULL,
	[Genero] [bit] NULL,
	[IdMateria] [int] NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 25/2/2021 12:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaInscripcion] [date] NULL,
	[FinalCurso] [date] NULL,
	[DuracionCurso] [int] NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 
GO
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Genero], [IdMateria]) VALUES (1, N'Juan', N'Perez', CAST(N'2000-08-10T00:00:00.000' AS DateTime), 1, 1)
GO
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Genero], [IdMateria]) VALUES (2, N'Juana', N'Lopez', CAST(N'2000-02-12T00:00:00.000' AS DateTime), 1, 2)
GO
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [FechaNacimiento], [Genero], [IdMateria]) VALUES (3, N'Juana', N'Lopez', CAST(N'2000-02-12T00:00:00.000' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 
GO
INSERT [dbo].[Materias] ([Id], [Nombre], [FechaInscripcion], [FinalCurso], [DuracionCurso]) VALUES (1, N'Ciencias Sociales', CAST(N'2021-02-12' AS Date), CAST(N'2022-01-12' AS Date), 11)
GO
INSERT [dbo].[Materias] ([Id], [Nombre], [FechaInscripcion], [FinalCurso], [DuracionCurso]) VALUES (2, N'Matematicas', CAST(N'2021-02-12' AS Date), CAST(N'2022-01-12' AS Date), 11)
GO
INSERT [dbo].[Materias] ([Id], [Nombre], [FechaInscripcion], [FinalCurso], [DuracionCurso]) VALUES (3, N'Fisica', CAST(N'2021-02-15' AS Date), CAST(N'2021-07-15' AS Date), 5)
GO
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Materias1] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Materias1]
GO
/****** Object:  StoredProcedure [dbo].[SP_Create_Alumno]    Script Date: 25/2/2021 12:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Create_Alumno]
	-- Add the parameters for the stored procedure here
	@Nombre varchar(50),
	@Apellido varchar(50),
	@FechaNacimiento datetime,
	@Genero bit,
	@IdMateria int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	INSERT INTO Alumnos (Nombre, Apellido, FechaNacimiento, Genero, IdMateria) 
				 VALUES (@Nombre, @Apellido, @FechaNacimiento, @Genero, @IdMateria)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Create_Materia]    Script Date: 25/2/2021 12:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Create_Materia]
	-- Add the parameters for the stored procedure here
	@Nombre varchar(50),
	@FechaInscripcion date,
	@DuracionCurso int,
	@FinalCurso date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	INSERT INTO Materias(Nombre, FechaInscripcion, DuracionCurso, FinalCurso) 
				 VALUES (@Nombre, @FechaInscripcion, @DuracionCurso, @FinalCurso)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Alumnos]    Script Date: 25/2/2021 12:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Select_Alumnos]
	-- Add the parameters for the stored procedure here
	@FilterNP varchar(50),
	@FilterIdMateria int,
	@FilterIdAlumno int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@FilterNP = '' AND @FilterIdMateria = 0 AND @FilterIdAlumno = 0)
		BEGIN
			SELECT *
			FROM Alumnos
			ORDER BY Nombre;
		END
	IF(@FilterNP != '' AND @FilterIdMateria = 0 AND @FilterIdAlumno = 0)
		BEGIN
			SELECT *
			FROM Alumnos
			WHERE Nombre LIKE '%' + @FilterNP + '%' OR Apellido LIKE '%' + @FilterNP + '%' 
			ORDER BY Nombre;
		END
	IF(@FilterNP = '' AND @FilterIdMateria > 0 AND @FilterIdAlumno = 0)
		BEGIN
			SELECT *
			FROM Alumnos
			WHERE IdMateria = @FilterIdMateria 
			ORDER BY Nombre;
		END
	IF(@FilterNP != '' AND @FilterIdMateria > 0 AND @FilterIdAlumno = 0)
		BEGIN
			SELECT *
			FROM Alumnos
			WHERE (Nombre LIKE '%' + @FilterNP + '%' OR Apellido LIKE '%' + @FilterNP + '%') AND IdMateria = @FilterIdMateria 
			ORDER BY Nombre;
		END
	IF(@FilterNP = '' AND @FilterIdMateria = 0 AND @FilterIdAlumno > 0)
		SELECT Alumnos.Nombre as NombreAlumno, Alumnos.Apellido as ApellidoAlumno, Alumnos.FechaNacimiento, Alumnos.Genero, Alumnos.IdMateria, Materias.Nombre as NombreMateria
		FROM Alumnos
		INNER JOIN Materias ON Alumnos.IdMateria = Materias.Id
		WHERE Alumnos.Id = @FilterIdAlumno 
		ORDER BY Alumnos.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Materias]    Script Date: 25/2/2021 12:14:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Select_Materias] 
	-- Add the parameters for the stored procedure here
	@FilterN varchar(50),
	@FilterId int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@FilterN = '' AND @FilterId = 0)
		BEGIN
			SELECT * FROM Materias
		END
	IF(@FilterN != '' AND @FilterId = 0)
		BEGIN
			SELECT * FROM Materias WHERE Nombre LIKE '%' + @FilterN + '%'
		END
	IF(@FilterN = '' AND @FilterId > 0)
		BEGIN
			SELECT * FROM Materias WHERE Id = @FilterId
		END
	IF(@FilterN != '' AND @FilterId > 0)
		BEGIN
			SELECT * FROM Materias WHERE Id = @FilterId AND Nombre LIKE '%' + @FilterN + '%'
		END
END
GO
USE [master]
GO
